:root {
--paleblue: hsl(225, 100%, 94%);
--brightblue: hsl(245, 75%, 52%);
--verypaleblue: hsl(225, 100%, 98%);
--desaturatedblue: hsl(224, 23%, 55%);
--darkblue: hsl(223, 47%, 23%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

body {
    background-color: var(--paleblue);
    background-image: url("images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
}

main {
    background-color: white;
    border-radius: 10px;
    margin: 130px auto;
    height: 600px;
    width: 400px;
    text-align: center;
}

.image img {
    width: 400px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

h1 {
    font-weight: 900;
    color: var(--darkblue);
    font-size: 1.7em;
    margin: 30px auto;
    margin-bottom: 15px;
}

#main__paragraph {
    font-weight: 500;
    color: var(--desaturatedblue);
    margin: 5px 60px;
    line-height: 1.5em;
    font-size: 0.8em;
}

.plan {
    padding: 20px;
    margin: 15px auto;
    width: 80%;
    background-color: var(--verypaleblue);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;  
    text-align: left
}

.plan__itens {
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.plan__itens h3 {
    font-weight: 900;
    color: var(--darkblue);
    font-size: 0.8em;
    padding-bottom: 4px;
}

.plan__itens p {
    font-weight: 500;
    color: var(--desaturatedblue);
    font-size: 0.8em;
}

.plan__itens__text {
    padding-left: 20px;
}

.change {
    font-weight: 700;
    color: var(--brightblue);
    text-decoration: underline;
    cursor: pointer;
    font-size: 0.8em;
}

.change:hover {
    color: hsl(245, 75%, 52%, 70%);
    text-decoration: none;
}

.button__payment {
    width: 80%;
    margin: 30px auto;
    border-radius: 10px;
    background-color: var(--brightblue);
    font-weight: 900;
    font-size: 0.8em;
    color: white;
    letter-spacing: 1px;
    padding: 15px;
    box-shadow: 0px 20px 20px var(--paleblue);
    cursor: pointer;
    }

.button__payment:hover {
    background-color: hsl(245, 75%, 52%, 70%);
}

.button__cancel {
    font-weight: 900;
    font-size: 0.8em;
    color: var(--desaturatedblue);
    cursor: pointer;
}

.button__cancel:hover{
    color: var(--darkblue);
}

.attribution {
    text-align: center;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 20px;
    font-size: 0.6em;
    background-color: white;
}

.attribution a {
    text-decoration: none;
    font-weight: 700;
    color: var(--brightblue);
}

.attribution a:hover {
    color:var(--desaturatedblue);
}

@media only screen and (max-width: 375px) {
    
    body {
        background-image: url("images/pattern-background-mobile.svg");
        background-repeat: no-repeat;
        background-position: fixed;
    }
    
    main {
        margin: 50px auto;
        height: 570px;
        width: 330px;
    }

    .image img {
        width: 330px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .attribution {
        text-align: center;
        font-weight: 500;
        letter-spacing: 1px;
        padding: 20px;
        font-size: 0.4em;
        background-color: white;
    }

    h1 {
        font-weight: 900;
        color: var(--darkblue);
        font-size: 1.35em;
        margin: 30px auto;
        margin-bottom: 20px;
    }
    
    #main__paragraph {
        margin: 10px 45px;
        line-height: 1.7em;
        font-size: 0.9em;
    }
    
    .plan {
        width: 85%;
    }

    .plan__itens h3 {
        font-size: 0.9em;

    }
    
    .plan__itens p {
        font-size: 0.9em;
    }

    .change {
        font-size: 0.8em;
    }

    .button__payment {
        width: 85%;
        font-size: 0.9em;
        margin: 25px auto;
    }

    .button__cancel {
        font-size: 0.9em;
    }
}
